<app-header/>
<div class="container text-center mt-4" style="position: sticky; top: 0">
    <h1>Update Information Form</h1>

    <form class="py-4 text-start w-50 " style="margin: auto" ngForm="updateForm" (ngSubmit)="handleUpdate()">
        <div class="mb-5">
            <label class="form-label  fw-bolder">First Name</label>
            <input type="text" placeholder="Please enter your first name" name="firstName" class="form-control" [formControl]="updateForm.controls.firstName"/>
            <small class="text-danger fs-6 mt-2" *ngIf="updateForm.invalid && updateForm.controls.firstName.dirty && updateForm.controls.firstName.errors?.['required']">First name is required</small>
        </div>

        <div class="mb-5">
            <label class="form-label  fw-bolder">Last Name</label>
            <input type="text" placeholder="Please enter your last name" name="lastName" class="form-control" [formControl]="updateForm.controls.lastName" />
            <small class="text-danger fs-6 mt-2" *ngIf="updateForm.invalid && updateForm.controls.lastName.dirty && updateForm.controls.lastName.errors?.['required']">Last name is required</small>
        </div>

        <div class="mb-5">
            <label class="form-label  fw-bolder">Email</label>
            <input type="email" placeholder="Please enter your email" name="email" class="form-control" [formControl]="updateForm.controls.email"/>
            <small class="text-danger fs-6 mt-2" *ngIf="updateForm.invalid && updateForm.controls.email.dirty && updateForm.controls.email.errors?.['required']">Email is required</small>
        </div>

      <div class="mb-5">
        <label class="form-label  fw-bolder">Password</label>
        <input type="password" placeholder="Enter new password" name="password" class="form-control" [formControl]="updateForm.controls.password"/>
<!--        <small class="text-danger fs-6 mt-2" *ngIf="updateForm.invalid && updateForm.controls.email.dirty && updateForm.controls.email.errors?.['required']">Email is required</small>-->
      </div>

        <div class="mb-5">
            <label class="form-label  fw-bolder">Role</label>
            <select
                    class="form-select"
                    aria-label="select task priority"
                    [formControl]="updateForm.controls.roles"
            >
                <option ngValue="">DEFAULT VALUE</option>
                <option ngValue="role_admin">ADMIN</option>
                <option ngValue="role_user">USER</option>
            </select>
            <span class="d-block text-danger fs-6 mt-1" *ngIf="updateForm.invalid && updateForm.controls.roles.dirty && updateForm.controls.roles.errors?.['required']">Role field is required</span>
        </div>

        <div class="mb-5">
            <button class="btn btn-primary w-100">Update</button>
        </div>
    </form>

</div>

<app-footer/>
