<div class="container text-center mt-4" style="position: sticky; top: 0">
  <h1>Sign up page</h1>

  <form class="py-4 text-start w-50 " style="margin: auto" ngForm="registerForm" (ngSubmit)="handleRegister()">
    <div class="mb-3">
      <label class="form-label  fw-bolder">First Name</label>
      <input type="text" placeholder="Please enter your first name" name="firstName" class="form-control" [formControl]="registerForm.controls.firstName"/>
      <small class="text-danger fs-6 mt-2" *ngIf="registerForm.invalid && registerForm.controls.firstName.dirty && registerForm.controls.firstName.errors?.['required']">First name is required</small>
    </div>

    <div class="mb-3">
      <label class="form-label  fw-bolder">Last Name</label>
      <input type="text" placeholder="Please enter your last name" name="lastName" class="form-control" [formControl]="registerForm.controls.lastName" />
      <small class="text-danger fs-6 mt-2" *ngIf="registerForm.invalid && registerForm.controls.lastName.dirty && registerForm.controls.lastName.errors?.['required']">Last name is required</small>
    </div>

    <div class="mb-3">
      <label class="form-label  fw-bolder">Username</label>
      <input type="email" placeholder="Please enter your unique username" name="username" class="form-control" [formControl]="registerForm.controls.username"/>
      <small class="text-danger fs-6 mt-2" *ngIf="registerForm.dirty && registerForm.controls.username.dirty && registerForm.controls.username.errors?.['required']">Username is required</small>
    </div>

    <div class="mb-3">
      <label class="form-label  fw-bolder">Email</label>
      <input type="email" placeholder="Please enter your email" name="email" class="form-control" [formControl]="registerForm.controls.email"/>
      <small class="text-danger fs-6 mt-2" *ngIf="registerForm.dirty && registerForm.controls.email.dirty && registerForm.controls.email.errors?.['required']">Email is required</small>
    </div>

    <div class="mb-3">
      <label class="form-label  fw-bolder">Password</label>
      <input type="password" placeholder="Please enter your password" name="password" class="form-control" [formControl]="registerForm.controls.password" />
      <small class="text-danger fs-6" *ngIf="registerForm.dirty && registerForm.controls.password.dirty && registerForm.controls.password.errors?.['required']">Password is required</small>
    </div>

    <div class="mb-3">
      <label class="form-label  fw-bolder">Role</label>
      <select
              class="form-select"
              aria-label="select task priority"
              [formControl]="registerForm.controls.roles"
      >
        <option ngValue="">DEFAULT VALUE</option>
        <option ngValue="role_admin">ADMIN</option>
        <option ngValue="role_user">USER</option>
      </select>
      <span class="d-block text-danger fs-6 mt-1" *ngIf="registerForm.dirty && registerForm.controls.roles.dirty && registerForm.controls.roles.errors?.['required']">Role field is required</span>
    </div>

    <div>
      <button class="btn btn-primary  w-100">Register</button>
    </div>
  </form>

<!--  <div>-->
<!--    <small class="fw-semibold"><span class="me-2">Don't have an account?</span> <a routerLink="/register" class="btn-link">Sign up</a></small>-->
<!--  </div>-->
</div>
